*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# App build output
/app/build
/out/

# Kotlin
*.class

# Signing
*.jks
*.keystore

# Local binary tools and downloaded APKs
/tools/*.apk
/tools/*.jar

# Google Services (if contains API keys)
# google-services.json
